.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 40px;
  background:#3e2723;
}

.nav-left,
.nav-right{
  display:flex;
  align-items:center;
}

.navbar a{
  color:white;
  text-decoration:none;
  margin-right:20px;
  font-weight:bold;
}

.logo{
  font-size:24px;
}

.logout-btn{
  padding:8px 12px;
  border:none;
  background:red;
  color:white;
  cursor:pointer;
  border-radius:5px;
}